<h2>Create New Sweet Vendor</h2>

<%= form_for(@vendorsweet) do |f| %>
<%=f.label :sweet %>
<%=f.collection_select :sweet_id, Sweet.all, :id, :name %>
<%=f.label :vendor %>
<%=f.collection_select :vendor_id, Vendor.all, :id, :name %>
<%=f.submit  %>
<% end %>
